N8N/🟡 [#0000][F0003][V1][4_6] Fluxo Avançado - Secretária Médicos - Instância 01.json
{
  "name": "🟡 [#0000][F0003][V1][4/6] Fluxo Avançado - Secretária Médicos - Instância 01",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "telegram_chat_id"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        672
      ],
      "id": "184e9d03-1786-42fe-9680-fab50bdfecbf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}",
        "text": "=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        672
      ],
      "id": "7a76aa3e-22da-470e-91ee-2d393ddd0988",
      "name": "Enviar alerta",
      "webhookId": "153d7fb2-c401-4894-95a5-c123c8bbdd0d",
      "credentials": {
        "telegramApi": {
          "id": "5Yn5pR5ZgtHapkjr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "={{ $json.payload.append('agente-off').unique() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        672
      ],
      "id": "f474353c-ad0f-41e1-9b36-b30c03fbb112",
      "name": "Colocar etiqueta agente-off",
      "credentials": {
        "chatwootApi": {
          "id": "XCdpfMTAykbFcIF0",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.qmarka.com/api/v1/accounts/{{ $json.account_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"color\": \"#6233D0\",\n  \"description\": \"Agente IA não responderá esse contato.\",\n  \"title\": \"agente-off\",\n  \"show_on_sidebar\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        1040
      ],
      "id": "11e243a0-6783-4dd6-8b5d-926c7668a553",
      "name": "Criar etiqueta agente-off",
      "credentials": {
        "chatwootApi": {
          "id": "XCdpfMTAykbFcIF0",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Criar etiqueta\n\nVocê pode criar a etiqueta \"agente-off\" por aqui, ou pela interface do Chatwoot.\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 340,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        912
      ],
      "id": "181259ec-1355-436f-a971-00f2fe7a3c90",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        672
      ],
      "id": "88362700-13d2-449b-b550-c427473a401f",
      "name": "Listar etiquetas da conversa",
      "credentials": {
        "chatwootApi": {
          "id": "XCdpfMTAykbFcIF0",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Profile",
        "operation": "Fetch Profile",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-chatwoot.chatWoot",
      "typeVersion": 1,
      "position": [
        416,
        1040
      ],
      "id": "c3e7324f-aa6b-4f8b-9d91-24428960e1f7",
      "name": "Buscar informações da conta",
      "credentials": {
        "chatwootApi": {
          "id": "XCdpfMTAykbFcIF0",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        1040
      ],
      "id": "af834069-31e1-4a5b-be04-2286dbcc7cea",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## 4. Escalar humano",
        "height": 320,
        "width": 1036,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        560
      ],
      "id": "955ae90e-bdde-49b6-88d9-e49b4df4b9c0",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.qmarka.com/api/v1/accounts/{{ $('Buscar informações da conta').item.json.account_id }}/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"color\": \"#A44C74\",\n  \"title\": \"testando-agente\",\n  \"show_on_sidebar\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        1040
      ],
      "id": "7db04b5e-df77-4897-9db8-4fdc2b97cb74",
      "name": "Criar etiqueta testando-agente",
      "credentials": {
        "chatwootApi": {
          "id": "XCdpfMTAykbFcIF0",
          "name": "ChatWoot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Listar etiquetas da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Enviar alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Criar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar etiquetas da conversa": {
      "main": [
        [
          {
            "node": "Colocar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar informações da conta": {
      "main": [
        [
          {
            "node": "Criar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Buscar informações da conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd6fe8c9-637b-4c79-8835-b6ec3a6a5f0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87031669a487692cabd690c6cf4795c6e3e63ab38e6cd600daa7aab79663b1ba"
  },
  "id": "8Ufa1PHXdoFrk7lZ",
  "tags": []
}