N8N/🟡 [#0000][F0003][V1][3_6] Fluxo Avançado - Secretária Médicos - Instância 01.json
{
  "name": "🟡 [#0000][F0003][V1][3/6] Fluxo Avançado - Secretária Médicos - Instância 01",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_id"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "url_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        432,
        560
      ],
      "id": "6e91f3d1-00c2-4892-874c-ac085f02bd30",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        560
      ],
      "id": "612d181c-ae9b-4105-b578-5b69d0c4fe4f",
      "name": "Baixar arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Yb5ocz7cBsS8XBc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dda3d7-4505-4d03-b70f-63f5c005c0c3",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        560
      ],
      "id": "f08084a0-a300-473a-bdb1-cafabf2476d2",
      "name": "Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        560
      ],
      "id": "b587abe0-251d-4426-9c1d-271968b70084",
      "name": "Enviar arquivo",
      "credentials": {
        "chatwootApi": {
          "id": "XCdpfMTAykbFcIF0",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 3. Baixar e enviar arquivo do Google Drive",
        "height": 592,
        "width": 1020,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        320
      ],
      "id": "4982252f-5573-4f61-bed3-e70b7f923f5e",
      "name": "Sticky Note30"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Baixar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar arquivo": {
      "main": [
        [
          {
            "node": "Enviar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3801831-99cd-4bab-94db-d04f9027a45a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87031669a487692cabd690c6cf4795c6e3e63ab38e6cd600daa7aab79663b1ba"
  },
  "id": "fmu3o49LNgUXOMJy",
  "tags": []
}